
<script >
  function allowDrop(ev) {
    ev.preventDefault();
  }
  
   function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
   }

   function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
   }

</script>


</header>
  
  <h1>Calendar of Fun</h1>

  
</header>
<!-- .to_date converts to string -->
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<%= link_to "Previous", start_date: date_range.first - 1.day %>
<!-- change this from number to name of month -->
<%= start_date.month %> 
<%= start_date.year %>
<%= link_to "Next", start_date: date_range.last + 1.day %>

<table class="table table-striped">
  <thead>
   <tr>
     <th>Sun</th>
     <th>Mon</th>
     <th>Tues</th>
     <th>Wed</th>
     <th>Thurs</th>
     <th>Fri</th>
     <th>Sat</th>
    </tr>
  </thead>
  <tbody>
  <% date_range.each_slice(7) do |week| %>
    <tr>
     <% week.each do |day| %>
      <td id= "td1" ondrop="drop(event)" ondragover="allowDrop(event)">
        <%= day %>
        <% @tasks.select{|m| m.datetime.to_date == day}.each do |meeting| %>
          <div id= "drag1" draggable ="true" ondragstart="drag(event)">
              <%= meeting.name %>
               <i><%= meeting.notes %></i>
          </div>
      <% end %>


      </td>
     <% end %>
    </tr>
   <% end %>
  </tbody>
</table>

<br/>
<br/>

<b>Add a <%=link_to "New Task", new_task_path %> to the calendar</b>

<!-- div>
  <h2 class="text-center">My tasks</h2>
   
   <% @tasks.each do |task| %> 
   <p>
       <h3><%= task.name %></h3><br/>
       <i><%= task.datetime %></i><br/>
       <b><%= task.notes %></b>
  </p>
   <br/>
   <% end %>

</div> -->
