



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href= http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.0/themes/smoothness/jquery-ui.css /> 
<!--   Makes the dialog css show up correctly -->

<script >
$(document).ready(function() {
         
 
    $('.tasks').draggable({
        helper: 'clone'
    });

    $('.cells').droppable({ 
      tolerance: 'pointer', 
      accept: '.tasks',
      drop: function(event, ui){
       
         var id = $(ui.draggable).attr('id');
         var taskinfo = $(ui.draggable).html();
         var day = $(this).attr('id');
         

         $.ajax({type: 'PUT', url: "http://localhost:3030/tasks/" + id, data: { task: {"date": day }}});
            
            var droppedItem = $(ui.draggable).clone();
            $(".linkdiv", this).prepend(droppedItem);
            $(droppedItem).draggable({
                      helper: 'clone'
                  });
            $(ui.draggable).remove();
   

          // $(this).append(droppedItem);

          }
        });
       });

    
$(document).ready(function() {
  $('.icon, .iconpencil').hide();  
  $('.tasks').hover(function(){  
  $('.icon, .iconpencil', this).show(0);  
    }, function(){
     $('.icon, .iconpencil', this).hide(0); 
    });
   });

//open dialog, give dialog data-id of task  
 $(document).ready(function() {   
    $(".iconpencil").click(function() {
      console.log($(this).data("edit-url"));
      var url = $(this).data("edit-url") + ".js"; 
        $.getScript(url, function(result){
          console.log(result);
        });

     $( "#dialog-message" ).dialog({
        title: "Update Task",
        width: 300,
        height: 200,
        position: { my: 'top', at: 'top' },
     });
       
    });
  });
  
//make body of date cell clickable for new task 
$(document).ready(function() { 
$(".linkdiv").click(function() {
  window.location = $(this).data("link")
   })
 });
//make header of date cell clickable for new task 
$(document).ready(function() { 
$(".dateday").click(function() {
  window.location = $(this).data("link")
   })
 });

//        alert(newid);

            
</script>


</header>
  
<!--   <h1>Calendar of Fun</h1> -->

  
</header>

<!-- Rails to establish dates - .to_date converts to string -->
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<h4 class= 'text-center'><%= link_to "Previous", start_date: date_range.first - 1.day %>
<!-- change this from number to name of month -->
<%= get_month_name(start_date.month) %> 
<%= start_date.year %>
<%= link_to "Next", start_date: date_range.last + 1.day %></h4>
<div class= 'super'>
<table class="container table table-striped table table-bordered">

  <thead >
   <tr class="row seven-cols">
     <th class="col">Sun</th>
     <th class="col">Mon</th>
     <th class="col">Tues</th>
     <th class="col">Wed</th>
     <th class="col">Thurs</th>
     <th class="col">Fri</th>
     <th class="col">Sat</th>
    </tr>
  </thead>
  <tbody>
  <% date_range.each_slice(7) do |week| %>
    
     <tr class="row seven-cols" >
     
      <% week.each do |day| %>
        
      
      <td class='cells col' id=<%= idcreate(day) %> data-day=<%= day %> > 
      <div class = "dateday" data-link= <%=link_to = new_task_path %>>      
       <h5 class = "float-right" > <%= shortday(day) %></h5>
        </div>

        <% @tasks.select{|m| m.date == day}.each do |task| %>
             <div class="tasks" id=<%=task.id%> data-date=<%=task.date%>>
              <%= task.name %>
              <%= task.notes %>
              
              <i class="fa fa-pencil-square-o float-right iconpencil" aria-hidden="true" id=<%=task.id%> data-edit-url="<%=edit_task_path(task) %>"></i>

              <i class="fa fa-trash float-right icon trash" aria-hidden="true"></i>
           </div>
           
         <% end %>
           <div class="linkdiv" data-link= <%=link_to = new_task_path %>>
          </div>
        </td> <!-- td -->
      
     <% end %>
    </tr>
   <% end %>
  </tbody>
</table>
</div>


<br/>
<br/>

<b>Add a <%=link_to "New Task", new_task_path %> to the calendar</b>

<!-- dialog box -->
<div id="dialog-message" title="Basic dialog" data-id="">
  <p> This is a dialog box 
  </p>
  <div id="form-placeholder"></div>
     
  </div>


  <!--  link_to 'Delete task', task, method: :delete -->


